.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 13px;
  line-height: 15px;
  font-family: "FuturaDemiC", "Arial", sans-serif;
  text-align: center;
  color: $text-ondark-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $accent-color;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
  transition: 0.3s ease;

  &:hover {
    color: $text-ondark-color;
    transform: scale(1.05);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }
}
