.price-design {
  margin-bottom: 40px;
}

.price-design__title {
  &::after {
    margin-bottom: 20px;
    background-image: url("../assets/img/icon-price-design.svg");
  }
}

.price-design__description {
  max-width: 670px;
}

.price-design__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet + 100px) {
  .price-design {
    margin-bottom: 130px;
  }
}

@media (max-width: $smalltablet) {
  .price-design {
    margin-bottom: 0;
    padding-top: 100px;
    background-color: $bg-dark-color;
  }

  .price-design__wrapper {
    flex-direction: column;
  }

  .price-design__title {
    padding: 0 18px;
    color: $text-ondark-color;
  }

  .price-design__description {
    padding: 0 18px;
    color: $text-ondark-color;
  }
}

@media (max-width: $mobile) {
  .price-design {
    padding-top: 200px;
  }
}

