.projects {
  padding-top: 170px;
  padding-bottom: 400px;
  background-color: $bg-darkest-color;
}

.projects__wrapper {
  max-width: 1440px - 100px;
  padding-right: 0;
  padding-left: 100px;
}

.projects__description {
  @include font-text(18px, 29px, $text-ondark-color);
  width: 34%;
  min-width: 300px;
  margin-bottom: 0;
}

@media (max-width: $tablet + 100px) {
  .projects {
    padding-top: 100px;
  }

  .projects__wrapper {
    padding-left: 45px;
  }

  .projects__description {
    font-size: 16px;
  }
}

@media (max-width: $smalltablet) {
  .projects__wrapper {
    padding-left: 18px;
  }
}

@media (max-width: $mobile) {
  .projects {
    padding-top: 30px;
  }

  .projects__wrapper {
    padding-right: 18px;
  }

  .projects__description {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}
