.reviews {
  margin-bottom: 120px;
}

.reviews__title {
  margin-bottom: 20px;

  &::after {
    background-image: url("../assets/img/icon-reviews.svg");
  }
}

.reviews__description {
  max-width: 360px;
}

.reviews__cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.reviews__card {
  position: relative;
  box-sizing: border-box;
  width: 30%;
  padding: 30px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}

.reviews__card-text {
  margin-bottom: 40px;
}

.reviews__card-name {
  display: inline-flex;
  max-width: 200px;

  @include font-title(18px, 23px);
  margin: 0;
  padding-top: 20px;
  vertical-align: top;
}

.reviews__card-photo {
  margin-right: 20px;
  border-radius: 50%;
}

.reviews__card-stat {
  position: absolute;

  @include font-title(17px, 24px, $text-ondark-color);
  bottom: -25px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  background-color: $accent-color;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.reviews__card-area {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 40px;
  border-right: 1px solid $text-ondark-color;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-flex;
    width: 32px;
    height: 31px;
    background-image: url("../assets/img/icon-reviews-area.svg");
    background-repeat: no-repeat;
  }
}

.reviews__card-duration {
  position: relative;
  display: flex;
  align-items: center;

  padding: 15px;
  padding-right: 0;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 34px;
    height: 33px;
    background-image: url("../assets/img/icon-reviews-duration.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $tablet - 100px) {
  .reviews {
    display: none;
  }
}
