.section__title {
  @include font-title();
}

.section__title--accented {
  position: relative;
  display: block;
  width: 170px;
  @include font-title(27px, 37px, $accent-color);
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: -0.07em;

  &::after {
    content: "";
    position: absolute;
    top: 53px;
    left: 165px;
    display: block;
    width: 90px;
    height: 1.5px;
    background-color: $accent-color;
  }
}

@media (max-width: $tablet) {
  .section__title--accented {
    width: 120px;
    font-size: 22px;
    line-height: 30px;

    &::after {
      top: 44px;
      left: 140px;
    }
  }
}

@media (max-width: $mobile) {
  .section__title--accented {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;

    &::after {
      display: none;
    }
  }
}
