.slider {
  position: relative;
  display: flex;
  width: 100%;
}

.slider__wrapper--left {
  flex-basis: 32.6%;
  min-width: 300px;
}

.slider__description-list {
  margin: 0;
  margin-bottom: 75px;
  padding: 0;
  list-style: none;
  counter-reset: my-counter;
}

ol .slider__item {
  @include font-title(15px, 23px, $accent-color);
  color: white;
  counter-increment: my-counter;
}

.slider__item-title {
  width: 250px;
  margin-bottom: 10px;
  color: $accent-color;
  text-transform: uppercase;

  &::before {
    content: counter(my-counter) "/6";
    display: block;
    margin-bottom: 20px;
    color: $text-ondark-color;
  }
}

.slider__item-description {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  border-collapse: collapse;

  @include font-text(15px, 25px, $text-ondark-color);
}

.slider__item-attribute {
  padding-top: 40px;
  padding-right: 10px;
  vertical-align: center;

  @include font-title(18px, 25px, $accent-color);
  text-transform: uppercase;
}

.slider__item-value {
  padding-top: 5px;
  padding-right: 10px;
  line-height: 20px;
  vertical-align: top;
}

.slider__controls {
  display: flex;
  align-items: center;
  font-size: 0;
}

.slider__controls-button {
  width: 40px;
  height: 30px;
  background: transparent;
  border: 0;


  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

.slider__controls-button--previous {
  margin-right: 20px;
  background-image: url("../assets/img/icon-slider-previous.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__controls-button--next {
  margin-left: 20px;
  background-image: url("../assets/img/icon-slider-next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__toggle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: $text-ondark-color;
  border-radius: 50%;
  opacity: 0.3;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 0.5;
  }
}

.slider__toggle--active {
  opacity: 1;

  &:hover {
    transform: inherit;
    cursor: auto;
    opacity: inherit;
  }
}

.slider__controls .visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slider__wrapper--right {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: -270px;
  padding-left: 40px;
  overflow: hidden;
}

.slider__titles-list {
  display: flex;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

ul .slider__title {
  margin-right: 60px;

  @include font-title(14px, 18px, $text-ondark-color);
  padding-bottom: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.3;

  &:hover {
    color: $accent-color;
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    color: $link-active;
  }
}

ul .slider__title--active {
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
  opacity: 1;

  &:hover {
    color: $accent-color;
    cursor: inherit;
    opacity: 1;
  }
}

ol.slider__titles-list {
  flex-direction: column;
  counter-reset: my-counter;
}

.slider__titles-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-bottom: 40px;
  }
}


ol .slider__title {
  width: 100px;

  @include font-text(15px, 18px, $text-ondark-color);
  cursor: pointer;
  opacity: 0.3;
  counter-increment: my-counter;

  &::before {
    content: "0" counter(my-counter);
    display: block;
    width: 18px;

    @include font-title(15px, 21px, $text-ondark-color);
    margin-bottom: 10px;
    border-bottom: 1px solid $accent-color;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    color: $accent-color;
  }
}

ol .slider__title--active {
  cursor: inherit;
  opacity: 1;

  &:hover {
    opacity: inherit;
  }

  &:active {
    color: $text-ondark-color;
  }
}

.slider__images-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__image {
  display: block;
  flex-shrink: 0;
  width: 679px;
  height: 482px;
  margin-top: auto;
  margin-right: 20px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.slider__button {
  position: absolute;
  right: 45px;
  bottom: 230px;
  display: flex;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(227, 184, 115, 0.5);
}

.slider__button--next {
  background-image: url("../assets/img/icon-slider-round-next.svg");
  background-repeat: no-repeat;
  background-position: 24px center;
}

.slider__button--previous {
  display: none;
  background-image: url("../assets/img/icon-slider-round-previous.svg");
  background-repeat: no-repeat;
  background-position: 24px center;
}

@media (max-width: $tablet) {
  .slider__item-attribute {
    font-size: 14px;
  }
}

@media (max-width: $smalltablet + 100px) {
  .slider__titles-wrapper {
    flex-direction: column;

    &:first-child {
      margin-bottom: 0;
    }
  }

  ol .slider__title {
    width: 100%;
    margin-right: 18px;
    margin-bottom: 15px;
  }
}

@media (max-width: $smalltablet) {
  .slider__button {
    display: none;
  }
}

@media (max-width: $mobile + 100px) {
  .slider__wrapper--left {
    flex-basis: 100%;
  }
}

@media (max-width: $mobile) {
  .slider {
    flex-direction: column;
  }

  .slider__wrapper--left {
    order: 2;
  }

  .slider__item-attribute {
    width: 50%;
    padding-top: 25px;
  }

  .slider__controls {
    display: none;
  }

  .slider__wrapper--right {
    order: 1;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  ul.slider__titles-list {
    display: none;
  }

  .slider__image {
    width: 100%;
    height: auto;
    margin-right: 20px;
  }

  .slider__button {
    top: 105px;
    z-index: 1;
    display: block;
    width: 36px;
    height: 36px;
    background-size: 8px;
  }

  .slider__button--next {
    right: 10px;
    background-position: 15px center;
  }

  .slider__button--previous {
    left: 10px;
    display: block;
    background-position: 13px center;
  }
}
