.team {
  margin-bottom: 100px;
  background: linear-gradient(180deg, $bg-darkest-color 50%, $bg-light-color 50%);
}

.team__title {
  margin-bottom: 20px;
  color: $text-ondark-color;

  &::after {
    background-image: url("../assets/img/icon-team.svg");
  }
}

.team__description-top {
  width: 440px;
  margin-bottom: 100px;
  color: $text-ondark-color;
}

.team__description-bottom {
  width: 460px;
}

.team__cards-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.team__card {
  position: relative;
  margin-bottom: 100px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: -35px;
    display: block;
    width: 70px;
    height: 70px;
    background-color: $accent-color;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  }
}

.team__card--project {
  &::before {
    background-image: url("../assets/img/icon-team-project.svg");
    background-position: center 12px;
  }
}

.team__card--designer {
  &::before {
    background-image: url("../assets/img/icon-team-designer.svg");
  }
}

.team__card--foreman {
  &::before {
    background-image: url("../assets/img/icon-team-foreman.svg");
  }
}

.team__member-description {
  position: absolute;
  top: 75%;
  left: 50%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  background-color: $bg-light-color;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  transform: translate(-50%, 0);
  transition: 1s;
}

.team__member-name {
  @include font-title(18px, 25px);
  margin-bottom: 10px;
}

.team__member-title {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
}

.team__member-experience {
  display: block;
  padding: 13px;
  @include font-title(13px, 20px, $text-ondark-color);
  text-transform: uppercase;
  background-color: $accent-color;
}

@media (max-width: $tablet) {
  .team__cards-wrapper {
    margin-bottom: 40px;
  }
}

@media (max-width: $smalltablet) {
  .team {
    margin-bottom: 80px;
    padding-top: 50px;
    background: $bg-dark-color;
  }

  .team__description-top {
    width: 100%;
    margin-bottom: 70px;
  }

  .team__cards-wrapper {
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 36px;
  }

  .team__member-image img {
    width: 100%;
  }

  .team__member-description {
    width: calc(100% - 70px);
  }

  .team__description-bottom {
    display: none;
  }
}

@media (max-width: $mobile) {
  .team {
    margin-bottom: 0;
  }
}
