@font-face {
  font-family: "FuturaDemiC";
  src: local("FuturaDemiC"),
    url("../assets/fonts/FuturaDemiC.woff2") format("woff2"),
    url("../assets/fonts/FuturaDemiC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: local("Yeseva One Regular"),
    local("YesevaOne-Regular"),
    url("../assets/fonts/YesevaOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/YesevaOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaDemiC";
  src: local("Futura Demi Italic Cyrillic"),
    local("FuturaDemiC-Italic"),
    url("../assets/fonts/FuturaDemiC-Italic.woff2") format("woff2"),
    url("../assets/fonts/FuturaDemiC-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"),
    local("ProximaNova-Regular"),
    url("../assets/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaMediumC";
  src: local("Futura Medium Cyrillic"),
    local("FuturaMediumC"),
    url("../assets/fonts/FuturaMediumC.woff2") format("woff2"),
    url("../assets/fonts/FuturaMediumC.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaBookC";
  src: local("Futura Book Cyrillic"),
    local("FuturaBookC"),
    url("../assets/fonts/FuturaBookC.woff2") format("woff2"),
    url("../assets/fonts/FuturaBookC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
